@import url("https://fonts.googleapis.com/css?family=Roboto");
:root {
  --font_family: 'Roboto', sans-serif;
  --light_text: white;
  --dark_text: black;
}

* {
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

hr {
  border: 0;
  height: 1px;
  width: 50%;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #33a0aa;
  background-image: url("/background/background.svg");
  background-attachment: fixed;
  background-size: cover;
}

.large_heading {
  font-size: 2em;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  outline: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing_content {
  height: 100vh;
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: auto;
  padding: 1em;
  font-family: var(--font_family);
  color: var(--light_text);
}

.logo {
  height: 15vh;
  padding: 1em;
}

.second_background {
  min-height: 100vh;
  width: 100vw;
  background-color: rgba(89, 112, 129, 0.8);
}

.second_content {
  min-height: 100vh;
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  font-family: var(--font_family);
  color: var(--light_text);
}

.second_content hr {
  background: var(--light_text);
}

.second_image {
  height: 40vh;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3em;
  padding-top: 3em;
  border-radius: 10px;
}

@media only screen and (min-width: 600px) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }
  .second_heading {
    padding-bottom: 2em;
    padding-top: 2em;
  }
  .second_image {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .image_writing {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .second_content {
    width: 90vw;
    display: block;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

.third_background {
  min-height: 100vh;
  width: 100vw;
  background-color: rgba(255, 234, 208, 0.7);
}

.third_content {
  min-height: 100vh;
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: black;
  padding: 1em;
  font-family: var(--font_family);
  color: var(--dark_text);
}

.third_content hr {
  background: var(--dark_text);
}

.box_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 600px) {
  .box_container {
    padding-top: 6em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box_img {
  height: 4em;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

footer {
  background: #4A7B9D;
}

.footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
  color: var(--light_text);
  font-family: var(--font_family);
}
/*# sourceMappingURL=main.css.map */